<div class="container" *ngIf="contact.name">
    <header class="header">

        <div class="contact-image">
            <picture>
                <img src="assets/{{contact.name}}.jpg" alt="{{contact.name}} photo" class="image">
            </picture>
            <div class="circle"></div>
            <div class="tick"></div>
        </div>

        <h2 class="h2">{{contact.name}}</h2>

    </header>

    <main class="main">
        <div class="my-text" >
            <div [ngClass]="{'text-contact-dark': talk.type==='dark', 'text-contact-white': talk.type==='white'}"
             *ngFor = "let talk of messages" #talk >
                <picture *ngIf="talk.type==='dark'">
                    <img src="assets/{{contact.name}}.jpg" alt="{{contact.name}} photo" class="image">
                </picture>
                <div class="text-box">
                    <p [ngClass]="{'text-line-dark': talk.type==='dark', 'text-line-white': talk.type==='white'}">
                        {{talk.text}}</p>
                    <p [ngClass]="{'date-line-dark': talk.type==='dark', 'date-line-white': talk.type==='white'}">
                        {{talk.date | date: 'short'}}</p>
                </div>
            </div>

        </div>
    </main>

    <footer class="footer">
        <div class="message-field">
            <textarea type="text" rows="1" class="input" placeholder="Type your message"
                [(ngModel)]="message"></textarea>
            <button class="button" (click)="send()"></button>
        </div>
    </footer>
</div>